Warmup Thread Reply - X1AI (1).json
{
  "name": "Warmup Thread Reply - X1AI",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9de08e46-fa9b-4bca-87c4-293ff2629afb",
              "leftValue": "={{ $json.isWarmupAccount }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c4200cf2-98dd-497d-92c8-05238b942287",
              "leftValue": "={{ $json.shouldReply }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -240
      ],
      "id": "69ee55a0-b793-407c-8a05-c508754816d0",
      "name": "Is Warmup Reply?"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 19) + 15 }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -432,
        -256
      ],
      "id": "1c17dc14-e498-41d4-a0f6-7f05c3e72731",
      "name": "Human Delay",
      "webhookId": "ac242e60-07bc-4ca6-99fb-a858613486bc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "meta/llama-3.1-70b-instruct"
            },
            {
              "name": "max_tokens",
              "value": "200"
            },
            {
              "name": "temperature",
              "value": "0.9"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\":\"user\",\"content\":\"Write a 1-2 sentence casual reply. Sound like a friend, not a salesperson. No lists, no tools, no recommendations. Just conversational. Context: \" + ($json.snippet || \"General chat\").substring(0, 100)}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        -256
      ],
      "id": "0c60d3ad-82ba-4dc1-b05f-e057bc6180e9",
      "name": "Generate Thread Reply",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wHvYBKrcsUefkUz4",
          "name": "invidia"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zaki@x1-ai.com",
        "toEmail": "={{ $('Gmail Trigger').item.json.From.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)[0] }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject.startsWith('Re:') ? $('Gmail Trigger').item.json.Subject : 'Re: ' + $('Gmail Trigger').item.json.Subject }}",
        "emailFormat": "text",
        "text": "={{ $('Generate Thread Reply').item.json.choices[0].message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        496,
        -416
      ],
      "id": "5c3e7f02-6384-4fbf-9c99-ed82fbc65482",
      "name": "Send Thread Reply - zaki@",
      "webhookId": "98511725-7d0c-4100-a76e-1e17c5f2fdb9",
      "credentials": {
        "smtp": {
          "id": "KDMUDWKgfqzRFYee",
          "name": "zaki@"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "346aab04-b252-4804-a82d-dd2308d7dbac",
              "leftValue": "={{ $('Gmail Trigger').item.json.To }}",
              "rightValue": "test@x1-ai.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -256
      ],
      "id": "8cbf5881-af2a-4c4c-b386-d8e117bbaa28",
      "name": "Which Sender?"
    },
    {
      "parameters": {
        "fromEmail": "zakaria@x1-ai.com",
        "toEmail": "={{ $('Gmail Trigger').item.json.From.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)[0] }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject.startsWith('Re:') ? $('Gmail Trigger').item.json.Subject : 'Re: ' + $('Gmail Trigger').item.json.Subject }}",
        "emailFormat": "text",
        "text": "={{ $('Generate Thread Reply').item.json.choices[0].message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        512,
        -16
      ],
      "id": "462d27de-c077-45c4-af0d-2a4aa9da8df2",
      "name": "zakaria@ Zoho SMTP",
      "webhookId": "009476f9-c458-441c-88ad-a38659abe61b",
      "credentials": {
        "smtp": {
          "id": "xrt8BhiU1cAGoBfS",
          "name": "zakaria@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n];\n\nconst fromEmail = $json.From.match(/[\\w.-]+@[\\w.-]+/)[0].toLowerCase();\nconst isWarmup = warmupAccounts.includes(fromEmail);\nreturn [{ json: { ...$json, isWarmupAccount: isWarmup } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -240
      ],
      "id": "0b056ce8-8411-4200-b685-825a131baa29",
      "name": "Is Warmup Account?"
    },
    {
      "parameters": {
        "jsCode": "const subject = $json.Subject || \"\";\n\n// Count how many \"Re:\" appear in subject\nconst reCount = (subject.match(/Re:/gi) || []).length;\n\n// Max 6 replies per thread\nconst shouldReply = reCount < 6;\n\nreturn [{ \n  json: { \n    ...$json, \n    replyCount: reCount,\n    shouldReply: shouldReply\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -240
      ],
      "id": "41a6df2d-bc8a-4f54-a75f-9d6a4aa2c187",
      "name": "Check Reply Depth"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "maxResults": 2,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -1808,
        -240
      ],
      "id": "0667d6f9-9252-403d-b29c-976842c61ce8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "z3BlaIgpXqfH6JsH",
          "name": "zgou382@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "802f99bf-23e3-4ed3-ba72-8b5d6aafbd17",
              "leftValue": "={{ $json.labels.some(label =>\n \"\n) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1552,
        -240
      ],
      "id": "00a7003b-633f-48de-b0bb-9098e2404552",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Is Warmup Reply?": {
      "main": [
        [
          {
            "node": "Human Delay",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Human Delay": {
      "main": [
        [
          {
            "node": "Generate Thread Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Thread Reply": {
      "main": [
        [
          {
            "node": "Which Sender?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Sender?": {
      "main": [
        [
          {
            "node": "Send Thread Reply - zaki@",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "zakaria@ Zoho SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Warmup Account?": {
      "main": [
        [
          {
            "node": "Check Reply Depth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reply Depth": {
      "main": [
        [
          {
            "node": "Is Warmup Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Is Warmup Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "02fe2404-c64d-458f-938b-3a7f906e24d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d78d8971f1a7b3a8ab6daaf80298483a6739908af40a871d49a0b6074e1d2fd2"
  },
  "id": "4wvruri0Y6kYqqt1",
  "tags": []
}